{% extends "main.html" %}

{% block content %}

  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <h1> {{ item.title }} </h1>
      <hr>
      <p>
        {{ item.description }}
      </p>

      {% if 'logged_in' in session %}
      <section>
        <a href ="{{item.id}}/edit" class ='btn btn-primary'> Edit</a>
        <a href = "{{item.id}}/delete" class ='btn btn-primary'> Delete</a>
      </section>
      {% endif %}

    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
{% endblock %}
